name: Masak Ikan

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'
        required: false
jobs:
  bakar:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo & Build
        run: "bash <(curl -s ${{ secrets.MASAK_IKAN_SCRIPT_URL }}) ${{ github.event.inputs.branch }}"
#         run: "bash <(curl -s ${{ secrets.MASAK_IKAN_SCRIPT_URL }}) > /dev/null 2>&1"
     
#       - name: List
#         run: cd app && ls -lah && pwd
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ikan-bakar
          path: /home/runner/work/tulung/tulung/app/arwana
